{% extends "base.html" %}
{% block title %}{{ 'Editar Proyecto' if is_edit else 'Agregar Nuevo Proyecto' }}{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="mb-4">{{ 'Editar Proyecto' if is_edit else 'Agregar Nuevo Proyecto' }}</h2>
    <div class="card shadow-sm p-4">
        <!-- Acción del formulario depende si es edición o creación -->
        <form method="POST" action="{{ url_for('inversionista.update_inversionista', id=inversionista.id) if is_edit else url_for('inversionista.post_inversionista_form') }}">
            <div class="row">
                {% if is_edit %}
                <!-- Si es edición, pasamos el id -->
                <input type="hidden" name="id" value="{{ inversionista.id }}">
                {% endif %}
                <div class="form-group col-md-6">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" value="{{ inversionista.nombre if is_edit else '' }}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="registro">Registro:</label>
                    <input type="text" id="registro" name="registro" class="form-control" value="{{ inversionista.registro if is_edit else '' }}" required>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="sector">Sector:</label>
                    <select id="sector" name="sector" class="form-control" required>
                        {% for key, value in sector %}
                            <option value="{{ key }}" {% if is_edit and inversionista.sector == key %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="provincia">Ubicación:</label>
                    <select id="provincia" name="provincia" class="form-control" required>
                        {% for key, value in provincia %}
                            <option value="{{ key }}" {% if is_edit and inversionista.ubicacion == key %}selected{% endif %}>{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary w-50">
                    {{ 'Actualizar Proyecto' if is_edit else 'Guardar Proyecto' }}
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}