{% extends "base.html" %}
{% block title %}Agregar Proyecto{% endblock %}
{% block content %}
<div class="container">
    <h2 class="my-4">Agregar Nuevo Proyecto</h2>
    <form method="POST" action="{{ url_for('router.crear_proyecto') }}">
        {{ form.hidden_tag() }}
        
        <div class="form-group">
            {{ form.nombre.label(class="form-label") }}
            {{ form.nombre(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.costo.label(class="form-label") }}
            {{ form.costo(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.fecha_inicio.label(class="form-label") }}
            {{ form.fecha_inicio(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.tiempo_vida.label(class="form-label") }}
            {{ form.tiempo_vida(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.capacidad.label(class="form-label") }}
            {{ form.capacidad(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.tipo_energia.label(class="form-label") }}
            {{ form.tipo_energia(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.ubicacion.label(class="form-label") }}
            {{ form.ubicacion(class="form-control") }}
        </div>
        
        <div class="form-group">
            {{ form.descripcion.label(class="form-label") }}
            {{ form.descripcion(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.estado.label(class="form-label") }}
            {{ form.estado(class="form-control") }}
        </div>
        
        <button type="submit" class="btn btn-primary">Crear Proyecto</button>
    </form>
</div>
{% endblock %}