{% extends "base.html" %}

{% block title %}Lista de Proyectos{% endblock %}

{% block content %}
<div class="content-container py-4 px-3">
    <div class="container-fluid bg-white shadow-sm rounded py-4">
        <h2 class="text-primary mb-4">Bienvenido al Sistema de Gestión de Proyectos</h2>
        <div class="d-flex align-items-center mb-4">
            <a href="{{ url_for('proyecto.save_proyecto') }}" class="btn btn-outline-primary">
                <i class="fas fa-plus-circle"></i> Agregar Proyecto
            </a>
        </div>
    </div>

    <div class="content-section py-4 px-3">
        <div class="container-fluid bg-white shadow-sm rounded py-4">
            <div class="d-flex justify-content-between mb-4">
                <div class="d-flex gap-2">
                    <select class="form-select w-auto mr-1">
                        {% for key, value in opciones %}
                            <option value="{{ key }}" {% if key == selected_key %}selected{% endif %}>
                                {{ value }}
                            </option>
                        {% endfor %}
                    </select>
                    <input type="text" id="search" class="form-control mr-1" placeholder="Buscar Proyecto">
                    <a href="#" class="btn btn-primary d-flex align-items-center justify-content-center">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
            </div>
            <h3 class="text-secondary mb-4">Lista de Proyectos</h3>
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="text-center" style="max-width: 125px;">
                                <i class="fas fa-project-diagram"></i> Nombre
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-money-bill-wave"></i> Costo Inicial
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-dollar-sign"></i> Inversión
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-calendar-day"></i> Fecha Inicio
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-calendar-alt"></i> Fecha Fin
                            </th>
                            <th class="text-center" style="max-width: 100px;">
                                <i class="fas fa-hourglass-half"></i> Tiempo de Vida
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-sun"></i> Producción Diaria (MW)
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-bolt"></i> Tipo de Energía
                            </th>
                            <th class="text-center" style="max-width: 110px;">
                                <i class="fas fa-map-marker-alt"></i> Ubicación
                            </th>
                            <th class="text-center" style="max-width: 120px;">
                                <i class="fas fa-clipboard-list"></i> Estado
                            </th>
                            <th class="text-center" style="max-width: 150px;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lista %}
                        <tr class="text-center">
                            <td>
                                <a href="{{ url_for('proyecto.proyecto_id', id=item.id) }}" 
                                class="btn btn-outline-primary btn-sm w-100 text-start opacity-50 hover-opacity-100" 
                                style="transition: opacity 0.3s ease;">
                                    {{ item.nombre }}
                                </a>
                            </td>
                            <td>{{ item.costoEstimadoInicial }}</td>
                            <td>{{ item.inversion }}</td>
                            <td>{{ item.fechaInicio }}</td>
                            <td>{{ item.fechaFin }}</td>
                            <td>{{ item.tiempoDeVida }}</td>
                            <td>{{ item.capacidad }}</td>
                            <td>{{ item.tipoEnergia }}</td>
                            <td>{{ item.ubicacion }}</td>
                            <td>{{ item.estado }}</td>
                            <td>
                                <div class="d-flex">
                                    <!-- Botón de Editar -->
                                    <a href="{{ url_for('proyecto.update', id=item.id) }}" class="btn btn-primary text-white p-3 mx-2 rounded d-flex justify-content-center align-items-center shadow-lg">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                
                                    <!-- Botón de Eliminar -->
                                    <a href="{{ url_for('proyecto.delete_proyecto', id=item.id) }}" class="btn btn-danger text-white p-3 mx-2 rounded d-flex justify-content-center align-items-center shadow-lg">
                                        <i class="fas fa-trash-alt fa-lg"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock %}