{% extends "base.html" %}
{% block title %}Detalles del Proyecto{% endblock %}
{% block content %}
<div class="container">
    <h2 class="my-4">Detalles del Proyecto</h2>
    <div class="d-flex align-items-center mb-4">
        <a href="{{ url_for('proyecto.home') }}" class="btn btn-primary mt-3">Volver a la lista de proyectos</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ proyecto.nombre }}</h5>
                    <p class="card-text"><strong>Costo Inicial:</strong> {{ proyecto.costoEstimadoInicial }}</p>
                    <p class="card-text"><strong>Fecha de Inicio:</strong> {{ proyecto.fechaInicio }}</p>
                    <p class="card-text"><strong>Tiempo de Vida (años):</strong> {{ proyecto.tiempoDeida }}</p>
                    <p class="card-text"><strong>Capacidad (MW):</strong> {{ proyecto.capacidad }}</p>
                    <p class="card-text"><strong>Inversión:</strong> {{ proyecto.inversion }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>Tipo de Energía:</strong> {{ proyecto.tipoEnergia }}</p>
                    <p class="card-text"><strong>Ubicación:</strong> {{ proyecto.ubicacion }}</p>
                    <p class="card-text"><strong>Descripción:</strong> {{ proyecto.descripcion }}</p>
                    <p class="card-text"><strong>Estado:</strong> {{ proyecto.estado }}</p>
                    <p class="card-text"><strong>Fecha de Fin:</strong> {{ proyecto.fechaFin }}</p>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="mt-4">
        <h3>Inversionistas</h3>
        <div class="table-responsive">
            <table class="table table-striped table-bordered w-auto mx-auto">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">ID</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Registro</th>
                        <th class="text-center">Monto Invertido</th>
                        <th class="text-center">Sector</th>
                        <th class="text-center">Ubicación</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inversionista in inversionistas %}
                    <tr class="text-center">
                        <td>{{ inversionista.id }}</td>
                        <td>{{ inversionista.nombre }}</td>
                        <td>{{ inversionista.registro }}</td>
                        <td>{{ inversionista.montoInvertido }}</td>
                        <td>{{ inversionista.sector }}</td>
                        <td>{{ inversionista.ubicacion }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No hay inversionistas disponibles</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
-->
</div>
{% endblock %}